header {
  display: flex;
  gap: 20px;
}

.flex {
  display: flex;
}

.flex section {
  flex-grow: 1;
}

aside ul,
ul.grid {
  padding: 0;
}

aside ul li,
ul.grid {
  list-style: none;
}

ul.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}